/* only small desktops */
/* tablets */
@media (min-width: 992px) and (max-width: 1190px) {
    .top-header .navbar .navbar-collapse ul li a{
        font-size: 14px;
    }
    .contact_bt {
        margin-top: 25px;
    }
    .slide_text {
        margin-top: 70px;
    }
    .top-header .navbar .navbar-collapse ul li a {
        padding: 7px 15px;
    }

    a.navbar-brand img {
        height: 33px;
    }

    .search-box {
        position: absolute;
        top: 0;
        right: 30px;
        height: auto;
        padding: 0;
        margin-top: 8px;
    }

}
/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .top-header .navbar .navbar-collapse ul li a{
        padding: 5px 15px;
    }
    .top-header{
        position: relative;
    }
    .top-header {
        background-image: none;
        background-color: #fff;
    }
    .search-box {
        top: 1px;
        right: 75px;
    }
    .search-btn {
        background: #111;
    }
    .search-box:hover .search-txt {
        width: 240px;
        padding: 0 10px;
        border: solid #000 1px;
        height: 41px;
    }
    .top-header .navbar .navbar-collapse ul li a:hover, .top-header .navbar .navbar-collapse ul li a:focus {
        color: #0892fd;
    }
    .slide_text p {
        display: none;
    }
    .contact_bt {
        margin-top: 10px;
    }
    .slide_text {
        margin-top: 60px;
    }
    .section.layout_padding h4 {
        text-align: left;
    }
    #demo .img-responsive {
        width: 100%;
        margin-bottom: 30px;
    }

    .heading_main h2 {
        font-size: 35px;
    }
	.top-header #navbar-wd {
        padding-right: 0;
    }
    footer.footer-box p {
        margin-top: 5px;
        font-size: 13px;
    }
	.tab_menu {
        overflow-y: hidden !important;
        padding: 0 30px;
    }

}
/* mobile only */
@media (max-width: 767px) {
    .navbar-brand {
        margin-left: 10px;
        margin-right: 10px;
    }
    .top-header .navbar .navbar-collapse ul li a{
        padding: 5px 15px;
    }
    .isMobile {
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        align-items: baseline;
    }
    .mobile_header ul {
        flex-direction: row;
        background: #000;
    }
    .mobile_header a {
        font-size: x-small;
    }
    .hamburgerMenu {
        margin-right: 25px;
    }
    .navbar-nav {
        background: #ece9e29f;
        /* background: #ffba18c7; */
        border-radius: 15px 0 0 0;
        margin-right: -30px;
        padding-bottom: 430%;
    }

    @keyframes slideInMenuRight {
        from {
            transform: translateX(100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideOutMenuLeft {
        from {
            transform: translateX(0);
            opacity: 1;
        }
        to {
            transform: translateX(100%);
            opacity: 0;
        }
    }
    .slideInMenuRight {
        animation: slideInMenuRight 0.5s ease-in-out forwards;
    }
    .slideOutMenuLeft {
        animation: slideOutMenuLeft 0.5s ease-in-out forwards;
    }

    .nav-link {
        padding: 15px 30px;
        font-weight: 600;
        /* background: #000; */
    }
    .top-header{
        border-radius: 0%;
    }
	.top-header {
        width: 100%;
        margin: 0;
    }

    a.navbar-brand img {
        height: 50px;
        margin-left: 13px;
        width: 100px;
    }
    .top-header .navbar {
        padding: 0;
    }

    .tab_menu {
        padding: 5px;
        height: auto;
        background: #f5f8f83a;
    }
    .tab_menu ul {
        width: auto;
    }
    ul {
        justify-items: center;
        /* margin-left: -40px; */
        /* margin-left: -130px; */
        gap: 0px;
    }
    .ul_menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        /* padding-left: 40px; */
    }
    .tab_menu ul li {
        width: 100%;
        padding: 5px 0;
    }
    .tab_menu ul li span {
        font-size: 14px;
        padding: 0 3px;
    }
    .tab_menu_ul {
        gap: 5px;
    }

    .layout_padding_2 {
        padding-top: 0;
        /* justify-content: center; */
    }
    .align_left {
        justify-content: center;
        text-align: center;
    }
    .heading_main h2 {
        padding: 0;
        margin: 0;
    }
    .hvr-radial-out {
        margin-top: 0;
    }
    .pad_bottom {
        margin-top: -20px;
        padding-bottom: 15px;
    }

    .navbar-brand img {
        width: 210px;
    }
    .top-header {
        background-image: none;
        /* background-color: #ffffffc9; */
    }
    .search-box {
        position: absolute;
        top: 0;
        right: 50px;
        height: auto;
        padding: 0;
        margin-top: 29px;
        display: none;
    }
    a.navbar-brand {
        left: 0;
        position: relative;
    }
    .slide_text {
        margin: 10% 2% 5% 2%;
    }
    .slide_text h3 span {
        font-size: 30px;
    }
    .slide_text h3 {
        font-size: 30px;
        line-height: 20px !important
    }
    .slide_text_banner h3 {
        line-height: 30px !important;
    }
    .slide_text h4 {
        font-size: 16px;
        margin: -20px 0;
    }
    .padText {
        padding: 5px 0;
    }

    .contact_bt {
        width: 90px;
        height: 35px;
        background: #07528d;
        color: #fff;
        float: left;
        line-height: 36px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        margin-top: 5px;
    }
    .top-header #navbar-wd {
        padding-right: 0;
    }
    .heading_main {
        float: left;
        width: 100%;
        /* justify-content: center; */
    }
    #demo .img-responsive {
        margin: 10px 0;
        width: 100%;
    }

    .footer_blog {
        margin-top: 25px;
    }
    .footer_bottom p.crp {
        /* float: left; */
        font-size: 10.5px;
        width: 100%;
        text-align: center;
    }

	.heading_main h2 {
        font-size: 25px;
    }

	.newsletter_form input {
        width: 100%;
    }
    .center_elements {
        margin: -30px 0 0px 0;
    }


    .margin-top_50 {
        margin-top: 20px;
    }

    .create_bg {
        margin: 0 2%;
        padding-bottom: 20px;
    }
    .create_fieldset {
        margin: 0 5%;
    }
    .totalQs {
        width: 55%;
    }
    .rowForm {
        flex-direction: column;
        gap: 0px;
    }
    .c_form_input {
        margin: 0 0 5px 0;
        text-align: left;
    }
    .rowForm2 {
        flex-direction: row;
        display: flex;
        gap: 10px;
    }
    .remove_question_image {
        display: flex;
        justify-content: start;
    }
    .image_upload {
        text-align: left;
    }
    .LeftAlign {
        align-self: flex-start;
    }
    .uploadBtncreate {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
    .mobileQuestionRow {
        justify-content: center;
        margin: 0;
    }
    .mobileQuestionMargin {
        margin: 0 -15%
    }
    .c_form_option_input {
        margin: 1px 0;
    }

    .tests_bg,
    .testForm,
    .contribute_bg {
        margin: 0 2%;
    }
    .tests_bg {
        padding: 40px 0;
    }
    .t_Form {
        margin: 0 6%;
    }
    .contribute_fieldset {
        flex-direction: column;
        margin: 0 2%;
    }
    .questionForm {
        margin: 0;
    }
    .pretest_bg {
        padding-top: 0;
    }
    .divWidth {
        width: auto;
    }
    .resetMarginTo1 {
        margin: 1px;
    }
    .rowSpaced {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .removePadding {
        padding: 0;
    }
    .centerAddQuestionBtn {
        display: flex;
		justify-content: center;
        margin: -30px 0 0 0;
    }
    /* .contribute_bg {
        margin: 0 5%;
    } */

    .uploadFileInput {
        width: 100%;
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: anywhere;
    }

    .burger-menu-icon {
        display: flex;
    }
    .menu_display {
        display: flex;
        flex-direction: column;
    }

    .burger-menu-icon ul li a:hover,
    .burger-menu-icon ul li a:focus,
    .burger-menu-icon ul li a.active {
        background: #132835c0;
        color: #d4a81e;
    }

    .uploadButtons_row {
        flex-direction: column;
        gap: 0;
        margin: 0 2%;
    }
}
