/*------------------------------------------------------------------ 
    IMPORT FONTS 
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*------------------------------------------------------------------ 
    SKELETON
-------------------------------------------------------------------*/

body {
	color: #666666;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.80857;
	overflow-x: hidden !important;
}

a {
	color: #1f1f1f;
	/* background: #f5f8f8; */
	text-decoration: none !important;
	outline: none !important;
	/* -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out; */
	/* -o-transition: all .3s ease-in-out; */
	transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0 0 5px 0;
	font-weight: normal;
	line-height: 120% !important;
	color: #1f1f1f;
	margin: 0
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 22px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 21px;
	color: #07528d;
	margin-top: 25px;
}

h5 {
	font-size: 14px
}

h6 {
	font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #212121;
	text-decoration: none!important;
	opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	opacity: .8
}

a {
	color: #1f1f1f;
	text-decoration: none;
	outline: none;
}

.padding_left_right {
	padding-left: 30px;
	padding-right: 30px;
}

a,
.btn {
	text-decoration: none !important;
	outline: none !important;
}

.btn-custom {
	margin-top: 20px;
	background-color: transparent !important;
	border: 2px solid #ddd;
	padding: 12px 40px;
	font-size: 16px;
}

ul,
li,
ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul {
	display: flex;
	justify-content: center;
	gap: 10px;
}

button:focus {
	outline: none;
}

/*------------------------------------------------------------------ 
   LOADER 
-------------------------------------------------------------------*/

#scroll-to-top {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 10px;
	right: 20px;
	display: flex !important;
	justify-content: center;
	font-size: 25px;
	border-radius: 0;
	transition: .2s;
	letter-spacing: 1px;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	font-weight: 900;
	border-radius: 100%;
}

#scroll-to-top i.fa.fa-angle-up {
    position: relative;
    top: 6px;
    left: 6px;
}

.padding_bottom-0 {
	padding-bottom: 0 !important;
}

/*------------------------------------------------------------------ HEADER -------------------------------------------------------------------*/

.top-header .navbar {
	padding: 5px 0px;
}

.top-header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
	box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
	border-radius: 0 0 10px 10px;
    width: 90%;
    margin: 0 5%;
	/* max-height: 12%; */
}

/* Header hides when scrolling down */
.hide-header {
	display: none;
	transform: translateY(-100%);
}
/* Header reappears when scrolling up */
.show-header {
	display: block;
	transform: translateY(0);
}

a.navbar-brand {
    left: 0;
    position: relative;
}

a.navbar-brand img {
    height: 55px;
	width: 140px;
}

.top-header .navbar .navC ul li a:hover,
.top-header .navbar .navC ul li a:focus,
.burger-menu-icon ul li a:hover,
.burger-menu-icon ul li a:focus,
.top-header .navbar .navC ul li a.active,
.burger-menu-icon ul li a.active {
	background: transparent;
	color: #d4a81e;
}

.burger-menu-icon {
	cursor: pointer;
	display: none;
}

.search_icon.nav-link img {
	width: 25px;
}

.tab_menu ul {
    width: 950px;
}
.full > img {
    width: 100%;
}
/* search bar */

.search-box {
	position: absolute;
	top: 0;
	right: 50px;
	height: auto;
	padding: 0;
	margin-top: 17px;
}

.search-box:hover .search-txt {
	width: 240px;
	padding: 0 10px;
}

.top-header #navbar-wd {
	padding-right: 100px;
}

.search-btn {
	float: right;
	width: 41px;
	height: 41px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #111;
	border-radius: 5px;
}

.search-txt {
	border: none;
	outline: none;
	float: left;
	padding: 0;
	color: #000;
	font-size: 14px;
	line-height: 41px;
	width: 0;
	transition: width 400ms;
	background: #fff;
	padding: 0;
	font-weight: 300;
}

.theme_color {
	color: #d4a81e;
}


/*------------------------------------------------------------------ Banner -------------------------------------------------------------------*/

.home-slider {
	position: relative;
	height: 540px;
}

.slide_text h3 {
    font-size: 55px;
    font-weight: 600;
    padding: 0;
    line-height: 45px !important;
    text-align: center;
    color: #fff;
}

.slide_text h4 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.slide_text p {
    color: #d4a81e;
    font-size: 20px;
    font-weight: 300;
    padding-top: 0;
    line-height: normal;
    margin-bottom: 0;
}

.contact_bt {
    width: 180px;
    height: 50px;
    background: #d4a81e;
    color: #fff;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
    border-radius: 5px;
}

.contact_bt:hover,
.contact_bt:focus {
    color: #fff;
}

.dark_bg .contact_bt {
    margin-top: 30px;
}

.slide_text {
    margin-top: 100px;
    padding-left: 0;
}

.tab_menu {
	display: flex;
	justify-content: center;
    width: 100%;
    height: 110px;
    background: #f5f8f8;
    float: left;
    border-radius: 10px;
    margin-top: -50px;
    position: relative;
    z-index: 9;
    box-shadow: 0px 0 14px 0 rgba(0,0,0,.3);
    overflow: hidden;
    padding: 0 30px;
}

.tab_menu ul li:nth-child(7),.tab_menu ul li:nth-child(5) {
    background: #193c4b;
    transform: skew(-30deg);
	color:#fff;
}

.tab_menu ul li:nth-child(6) {
    background: #d4a81e;
    transform: skew(-30deg);
	color:#fff;
}

.tab_menu ul li:nth-child(7) a,.tab_menu ul li:nth-child(5) a {
    transform: skew(30deg);
	float: left;
	color: #fff;
}

.tab_menu ul li:nth-child(6) a {
    transform: skew(30deg);
	float: left;
	color: #fff;
}

.tab_menu ul li span {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    float: left;
}

.tab_menu ul li {
    width: 14.25%;
    float: left;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

span.icon {
    float: left;
    width: 100%;
    text-align: center;
}

span.icon img {
    height: 35px;
}

/*------------------------------------------------------------------ About -------------------------------------------------------------------*/

.about-box {
	padding: 70px 0px;
}

.about-img {
	padding: 30px 0px;
}

.about-img img {
	border-radius: 10px;
}

.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #095a83;
    transition-property: color;
    transition-duration: 0.3s;
    color: #fff;
    width: 165px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-top: 20px;
    font-weight: 600;
    text-indent: -10px;
}

.hvr-radial-out:after {
    content: "";
    display: flex;
    width: 25px;
    height: 100px;
    background: #fff;
    position: absolute;
    z-index: 11;
    top: 0;
    right: -6px;
    transform: skew(-20deg);
}

.hvr-radial-out::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #070500;
	border-radius: 100%;
	transform: scale(0);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.hvr-radial-out:hover::before,
.hvr-radial-out:focus::before,
.hvr-radial-out:active::before {
	transform: scale(2);
}

a.hvr-radial-out:hover,
a.hvr-radial-out:focus {
	color: #fff;
}

a#scroll-to-top::after {
    display: none;
}

.silver_bg .hvr-radial-out:after {
    background: #eee;
}

/*------------------------------------------------------------------ Contact -------------------------------------------------------------------*/

.contact-box {
	padding: 70px 0px;
}

.left-contact h2 {
	font-size: 22px;
	font-weight: 500;
	padding-bottom: 30px;
}

.cont-line {
	overflow: hidden;
	margin-bottom: 30px;
}

.icon-b {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	font-size: 25px;
	margin-right: 15px;
	color: #fff;
	border-radius: 100%;
	background: #d4a81e;
}

.dit-right h4 {
	font-size: 16px;
	color: #3a4149;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.dit-right p {
	font-size: 14px;
	margin-top: 0;
}

.dit-right a {
	font-size: 14px;
	color: #3a4149;
	font-weight: 300;
	line-height: normal;
}

.dit-right a:hover {
	color: #57cef8;
}

.contact-block .form-group .form-control {
	background: #333;
	height: 48px;
	font-size: 14px;
	border: 0;
	padding: 5px 20px;
	box-shadow: none;
	border-radius: 0;
	font-weight: 200;
	letter-spacing: 0px;
}

.submit-button .btn-common {
	background-color: #d4a81e;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 0 20px;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 0px;
	transition: all 0.3s;
	border-radius: 0;
	opacity: 1;
}

.contact-block .form-group textarea.form-control {
	height: 150px;
	padding-top: 15px;
}

.submit-button .btn-common:hover {
	background-color: #111;
	opacity: 1;
}

.custom-select {
	height: 45px;
	font-size: 16px;
}

select.form-control:not([size]):not([multiple]) {
	height: calc(45px + 2px);
}

.help-block ul li {
	color: red;
}

.footer-box {
    background: #0b1c2c;
    padding: 50px 0;
}

.footer-box .footer-company-name {
	text-align: center;
	margin: 0px;
	color: #333;
	font-size: 13px;
	font-weight: 400;
	padding-top: 2px;
}

.footer-box .footer-company-name a {
	color: #333;
	text-decoration: underline !important;
}

.footer-box .footer-company-name a:hover {
	color: #e91327;
}

/*------------------------------------------------------------------ Subscribe -------------------------------------------------------------------*/

p {
    margin-top: 5px;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #4a4a49;
}

.text_align_center {
	text-align: center;
}

.red_bg {
	background: #e91327;
}

.white_fonts p,
.white_fonts h1,
.white_fonts h2,
.white_fonts h3,
.white_fonts h4,
.white_fonts h5,
.white_fonts h6,
.white_fonts ul,
.white_fonts ul li,
.white_fonts ul li a,
.white_fonts ul i,
.white_fonts .post_info i,
.white_fonts div,
.white_fonts a.read_more {
	color: #fff !important;
}

.layout_padding {
	padding-top: 75px;
	padding-bottom: 75px;
}

.layout_padding_2 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.heading_main h2 {
    font-size: 40px;
    font-weight: 700;
    /* padding: 0 0 15px 0;
    margin: 0 0 30px 0; */
    font-family: 'Raleway', sans-serif;
    position: relative;
    /* background-image: url(../statics/images/heading_main_border.png); */
    background-position: left bottom;
    background-repeat: no-repeat;
}

.heading_main h2 span {
	/* color: #095a83; */
	color: #132835;
}

.heading_main p.large {
    font-size: 20px;
    color: #605f5f;
    position: relative;
    padding: 0;
    font-weight: 500;
    margin: 0;
}

.heading_main p {
    font-family: 'Raleway', sans-serif;
}

.heading_main p.small_tag {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 600;
    margin: 0;
}

.heading_main.text_align_center {
    width: 100%;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.center {
	display: flex;
	justify-content: center;
}

.padding_0 {
	padding: 0;
}

.full {
	float: left;
	width: 100%;
}

.heading_main {
    float: left;
    display: flex;
}


.margin-top_20 {
	margin-top: 20px;
}

.margin-top_30 {
	margin-top: 30px;
}

.margin-top_50 {
	margin-top: 50px;
}

.margin-bottom_30 {
	margin-bottom: 30px;
}

#demo {
	margin-bottom: 20px;
}

.footer_bottom {
	background: #132835;
    padding: 15px 0;
	margin-top: 1%;
}

.footer_bottom p.crp {
    float: left;
    margin: 0;
    color: #fff;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.footer_menu ul {
    list-style: none;
    width: 100%;
    float: left;
}

.footer_blog li a {
    font-size: 14px;
    font-weight: 300 !important;
    color: #acaba9 !important;
}

.recent_post_footer p {
    color: #acaba9 !important;
    font-size: 13px;
}

.footer_blog h3 {
    margin-bottom: 10px;
}

.newsletter_form input {

    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;

}

.newsletter_form button {
    background: #e0af14;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.footer_blog h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #fff;
    border-bottom: solid #e0af14 2px;
    font-weight: 600;
    margin-top: 14px;
    float: right;
    width: 100%;
    margin-bottom: 30px;
}

footer.footer-box p {
    font-size: 14px;
}

.footer_blog {
    float: left;
    width: 100%;
}

.footer_blog ul li {
    display: flex;
}

.footer_blog ul li img {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    position: relative;
    top: 3px;
}

.footer_blog ul li {
    margin-bottom: 15px;
}

#demo .img-responsive {
	width: 100%;
}

.top-header.fixed-menu .search-btn {
	background: #111;
}

.top-header.fixed-menu .search-btn img {
    width: 25px;
}

.top-header.fixed-menu .search-box:hover .search-txt {
	width: 240px;
	padding: 0 10px;
	border: solid #000 1px;
	height: 41px;
}

.top-header.fixed-menu ul li:hover a,
.top-header.fixed-menu ul li:focus a {
	color: #0892fd !important;
}

.text_align_right {
	text-align: right;
}

.float-right_img img {
    float: right;
}

/** contact **/

.image_upload {
    /* width: 100%; */
    /* margin: 35px; */
    border: none;
    background: #70c6eb;
    font-size: 17px;
    /* color: #676767; */
	color: #193c4b;
	border-radius: 5px;
	/* padding: 2px 13px; */
}
.image_file {
    background: #9ab9c7;
	/* color: #70c6eb; */
}
.remove_question_image {
    background: #e91327;
}
.add_question {
    background: #d4a81e;
	/* color: #70c6eb; */
	padding: 7px;
}
.downloadBtn {
    background: #d4a81e;
	padding: 0 13px;
}

.prev_next {
    background: #d4a81e;
	/* color: rgb(112, 198, 235); */
	padding: 0px 7px;
	transition: transform 0.3s ease-in-out;
}
.prev_next:active {
	transform: scaleX(0.80);
}

.hide_image_upload_btn {
    /* width: 100%; */
    margin-bottom: 35px;
    border: none;
    /* background: #fff; */
    font-size: 17px;
    color: #676767;
}

.answer_option {
	display: inline-flex;
	justify-content: start;
	padding: 0 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
.answer_option:hover {
	background: #193c4b;
}
.selected_option {
	background: #193c4b;
}
.answer_option:active {
	transform: scaleX(0.90);
}

.c_form_option_input {
	width: 100%;
    margin: 5px 0;
    min-height: 40px;
    border: none;
    background: #193c4b;
    font-size: 17px;
    color: #dcdfe3;
    padding: 0px 15px;
	border-radius: 5px;
	text-align: center;
}

.c_form_input {
    width: 100%;
    margin: 5px 0;
    min-height: 40px;
    border: none;
    background: #193c4b;
    font-size: 17px;
    color: #676767;
    padding: 0px 10px;
	text-align: center;
	border-radius: 5px;
}

.c_form_input_select {
    padding: 0px 0px;
}

.c_form_input_select2 {
    padding: 0px 0px;
	width: auto;
	margin: 0;
	min-height: auto;
}

.c_form textarea {
	width: 100%;
    /* margin: 15px 0; */
    min-height: 40px;
    border: none;
    background: #193c4b;
    font-size: 17px;
    color: #dcdfe3;
    padding: 15px;
	min-height:120px;
	border-radius: 5px;
}

.c_form_button {
    background: #e0af14;
    border: none;
    color: #132835;
    width: 200px;
    height: 65px;
    text-transform: uppercase;
    font-size: 21px;
    padding: 0;
	margin-top: 30px;
    font-weight: 500;
    cursor: pointer;
	transition: ease all 0.5s;
	border-radius: 10px;
}

.c_form_button:hover,
.c_form_button:focus {
	background: #fff;
	color: #132835;
}

.c_form_input:hover,
.c_form textarea:hover,
.c_form_option_input:hover,
.image_upload:hover {
    background: #f3f3f3;
}
.c_form_option_input:hover,
.c_form textarea:hover{
	color: #676767;
}

.downloadBtn:hover {
    color: #193c4b;
}

.c_form_input:disabled {
    background: #193c4b69;
}

/* ..............................................section bar menu ................................... */

.menu-out {
	border-radius: 5px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition-property: color;
    transition-duration: 0.3s;
    text-align: center;
}

.menu-out:after {
    content: "";
    display: flex;
    width: 1.5px;
    height: 100px;
    background: #fff;
    position: absolute;
    /* z-index: 11; */
    top: 0;
    right: 25px;
    transform: skew(-20deg);
}

.menu-out::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background: #000000; */
	border-radius: 100%;
	transform: scale(0);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.menu-out:hover::before,
.menu-out:focus::before,
.menu-out:active::before {
	transform: scale(2);
}

/* .menu-out:hover {
	transform: scale(0.95);
	animation: transform 15s ease-in-out
} */
.menu-out:hover {
	transform: scale(0.98);
	/* animation: scaleDown 15s ease-in-out forwards; */
}

/* @keyframes scaleDown {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.95);
	}
} */

.menu-out-anchor:hover,
.menu-out-anchor:focus {
	color: #000;
	transform: scale(1.20);
}

.create_bg {
	background: #132835;
	padding-bottom: 40px;
	margin: 0 5%;
	border-radius: 10px;
}
.create_fieldset {
	margin: 0 20%;
}
.totalQs {
	width: 25%;
}
.rowForm {
	flex-direction: row;
	display: flex;
	gap: 10px;
}
.uploadBtncreate {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contribute_bg {
	background: #132835;
	padding: 40px 0;
	margin: 0 12%;
	border-radius: 10px;
}
.contribute_fieldset {
	margin: 0 2%;
	display: flex;
	gap: 10px;
}


.tests_bg {
	background: #132835;
	padding: 40px 50px 30px 50px;
	margin: 0 15%;
	border-radius: 10px;
}
.testForm {
	margin: 0 7%;
}
.uploadButtons_row {
	display: flex;
	gap: 10px;
	padding: 0 15px;
}

.pretest_bg {
	padding-top: 60px;
	justify-content: center;
}
.divWidth {
	width: 60%;
}
.rowSpaced {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 10px;
}

.header_menu li {
	background: #f5f8f8;
	border-radius: 4px;
}
.header_menu a {
	margin: -8px 0;
}

.center_downloadBtn {
	margin: 10px 0 0 0;
}
/* .downloadBtnBorder {
	border: solid 1px #d4a81e;
	padding: 2px;
	border-radius: 5px;
} */


.dafetite {
	height: 40px;
	width: 90px;
	transition: all 0.3s ease-in-out;
}
.dafetite:hover, .dafetite:active {
	width: 110px;
	height: 41px;
}

.dafetiteHeader {
	transition: all 0.3s ease-in-out;
	background: linear-gradient(135deg, #132835, #1c3a4a, rgb(164, 224, 226), rgb(221, 193, 111), rgb(212, 168, 30));
	border-radius: 50px;
	box-shadow: 2px 4px 10px #132835;
}
.dafetiteHeader:hover, .dafetiteHeader:active {
	width: 150px;
}